In [35]:
from re import sub
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
%matplotlib inline

# Load data

In [ ]:
file = open('data/linkedjazz/all_relationships.txt', 'r')

# Create relationship dataframe
df = pd.DataFrame(columns=["subject", "relation", "object"])

for line in file:
    try:
        subj, relation, obj, _ = line.split(" ")
        # Extract entities from URLs
        subj_entity = subj.split('/')[-1].strip('>')
        relation_entity = relation.split('/')[-1].strip('>')
        obj_entity = obj.split('/')[-1].strip('>')

        df = df.append({
         "subject": subj_entity,
         "relation":  relation_entity,
         "object": obj_entity
          }, ignore_index=True)
    except:
        print line

# Summary Statistics

In [20]:
df.head()

      subject           relation       object
0  Sam_Rivers            knowsOf  Alan_Dawson
1  Sam_Rivers  collaborated_with  Alan_Dawson
2  Sam_Rivers             hasMet  Alan_Dawson
3  Sam_Rivers            knowsOf  Alan_Dawson
4  Sam_Rivers  collaborated_with  Alan_Dawson

In [34]:
# Describe counts by relation type
df.drop_duplicates().groupby('relation').describe()

                  object                              subject         \
                   count unique              top freq   count unique
relation
acquaintanceOf       274    200      Count_Basie   19     274     51
bandLeaderOf          19     19   George_Avakian    1      19     12
bandmember            54     42      Count_Basie    8      54     28
collaborated_with    255    207      Count_Basie    8     255     39
friendOf             254    176      Count_Basie   16     254     49
hasMet               280    195      Count_Basie   19     280     45
inBandTogether       105     89      Count_Basie    6     105     36
influencedBy         338    196  Louis_Armstrong   21     338     52
knowsOf             3449   1746      Count_Basie   38    3449     53
mentorOf             181    137      Count_Basie   13     181     45
playedTogether       220    163      Count_Basie   12     220     43
touredWith            76     68  Louis_Armstrong    5      76     30


                              top freq
relation
acquaintanceOf         Sam_Rivers   20
bandLeaderOf           Roy_Haynes    4
bandmember         Buddy_DeFranco    8
collaborated_with     Jimmy_Scott   25
friendOf             Dave_Brubeck   22
hasMet                 Sam_Rivers   20
inBandTogether     Buddy_DeFranco   15
influencedBy           Sam_Rivers   32
knowsOf             Louie_Bellson  288
mentorOf           Oscar_Peterson   23
playedTogether       Roy_Eldridge   22
touredWith          Slide_Hampton   10

In [47]:
# Number of unique artists in dataset
len(pd.unique(df['subject'].append(df['object'])))

1761

# Create Network

In [66]:
G = nx.from_pandas_dataframe(df, source='subject', target='object', edge_attr='relation')

In [67]:
G.to_directed()

In [73]:
# Subset for only influenced by relationships
influence_graph = nx.DiGraph([(u,v,d) for u,v,d in G.edges(data=True) if d['relation']=='influencedBy'] )

In [75]:
# Write to Gephi file format
nx.write_gexf(influence_graph,'influence_relationships.gexf')

In [76]:
nx.write_gexf(G,'all_relationships.gexf')